* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background-image: linear-gradient(#6f00ab , #ffffff 80%);
  background-repeat: no-repeat;
}

a {
  color: white;
}

.navbar {
  margin-top: 10px;
}
#navbarNav {
  margin-top: 4px;
  background: rgba(0, 0, 0, 0.493);
}

ul {
  margin-left: 10px;
}

form {
  position: absolute;
  margin-top: 300px;
}


input[type="text"], textarea {
  border: none;
  background: none !important;
  box-shadow: none;
  outline: none;
  color: white;
  text-align: center;
  margin: 30px 0px;
  font-size: 20px;
}

input[type="submit"] {
  border: solid;
  border-radius: 5px;
  background: none !important;
  box-shadow: none;
  outline: none;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


.info-border {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 280px;
  height: 190px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: -25px;
}

.ver-line2 {
  visibility: hidden;
  background-color: rgb(59, 130, 0);
  width: 17.3%;
}

.ver-line3 {
  background-color: #6f00aba2;
  border: solid 5px rgba(255, 255, 255, 0.534);
  border-radius: 5px;
  width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact-container {
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

p {
  visibility: hidden;
  font-size: 16px;
  color: white;
  text-align: center;
}


.svg-moon {
  background-image: url(/images/data-moon2.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 250px;
  margin: auto;
}



.animated-lines {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: auto;
  width: 75px;
  height: 100px;
  top: 25px;
  right: 50px;
}

.hor-line {
  width: 0px;
  height: 2px;
  background-color: #6f00ab;
  opacity: 40%;
}

.ver-line {
  position: relative;
  visibility: hidden;
  width: 3px;
  background-color: #6f00ab;
  opacity: 40%;
  z-index: -1;
}


/* left hemisphere */
.moving-line {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}



#moving-line1 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 100%;
  animation-name: moving-line;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#moving-line2 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 100%;
  animation-name: moving-line;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#moving-line3 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 20%;
  animation-name: moving-line;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


#moving-line4 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 100%;
  animation-name: moving-line;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#moving-line5 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 100%;
  animation-name: moving-line;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#moving-line6 {
  background-color: #6f00ab;
  opacity: 40%;
  height: 2px;
  width: 100%;
  animation-name: moving-line;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  
}

.moving-line1L {
  margin-right: 20%;
}

.moving-line2L {
  margin-right: 30%;
}

.moving-line3L {
  margin-right: 30%;
}
.moving-line4L {
  margin-right: 30%;
}

.moving-line5L {
  margin-right: 15%;
}

@keyframes moving-line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* right hemisphere */
.moving-line-right {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.moving-line1r {
  margin-left: 20%;
}

.moving-line2r {
  margin-left: 30%;
}

.moving-line3r {
  margin-left: 30%;
}
.moving-line4r {
  margin-left: 30%;
}

.moving-line5r {
  margin-left: 15%;
}


/* media queries */

@media (min-width: 576px) { 

  body {
    background-image: linear-gradient(#6f00ab , #ffffff 70%);
  }

  .svg-moon {
    height: 400px;
    width: 400px;
  }

  .animated-lines {
    width: 150px;
    height: 100px;
    top: 50px;
    right: 100px;
  }

  .moving-line {
    margin: 20px 0px;

  }

  .info-border {
    width: 548px;
    height: 230px;
    margin-bottom: -50px;
  }

  input[type="text"], textarea {
    font-size: 20px;
    margin: 30px 0px;
  }

  input[type="submit"] {
    font-size: 20px;
  }

}