* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100px;
}

.bin-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


